/*
#logo                       { background-image: url('../img/abc.png'); }
#btn-nav                    { background-image: url('../img/abc.png'); }

.select-container           { background-image: url('../img/abc.png'); }
input[type=checkbox]:before { background-image: url('../img/abc.png'); }
input[type=radio]:before    { background-image: url('../img/abc.png'); }
*/